* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  src: url('./styles/fonts/Roboto-Black.ttf');
  font-family: roboto-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: roboto-black;
}